{% extends 'base.html.twig' %}

{% block body %}

    <div class="homepage">
        {% include 'home/jumbotron.html.twig' %}
        {% include 'home/search.html.twig' %}
        {% include 'home/map.html.twig' %}
{#        {% include 'home/evaluations.html.twig' %}#}
{#        {% include 'home/products_cpu.html.twig' %}#}
{#        {% include 'home/products_gpu.html.twig' %}#}
    </div>

{% endblock %}
