<section class="map" style="margin-top: -40px;">
    <div class="row row-eq-height no-gutters">
        <div class="col-md-5" id="order2">
            <div class="home-ambassadors-listing js-home-ambassadors-listing clearfix"></div>
        </div>
        <div class="col-md-7" id="order1">
            <div class="home-ambassadors-map js-home-ambassadors-map" id="widthMapSearch"
                 data-styles="{{ asset(assets_url ~ 'inc/map-styles.json') }}" style="height: 100vh;"></div>
{#                 data-endpoint="{{ path('mapping_ambassadors') }}" ></div>#}
        </div>
    </div>
</section>
