
{% extends 'user/register/layout.html.twig' %}


{% block content %}

    <h1 class="mt-4 section-divider">
        {{ 'page.ambassador._forms.step2.title'|trans }}
    </h1>
    <hr>
     <form action="{{ path('register_step_2') }}" method="post">
                {% for element in form_properties %}
                    {% include ['user/_forms/_properties/' ~ element ~ '.html.twig'] %}
                {% endfor %}
                <div class="row mb-5 mt-5">
                    <div class="col-xs-12 col"></div>
                    <div class="col-xs-12 col text-right">
                        <button type="submit" class="btn btn-theme">{{ 'page.ambassador.register.step_2.submit_button'|trans }}</button>
                    </div>
                </div>
            </form>
{% endblock %}
