<div class="form-group">
    <label for="phone">{{ 'page.ambassador._forms.phone.label'|trans }}</label>
    <input placeholder="- - - - - - - - - -" type="text" class="form-control phone-input text-center" name="phone" id="phone" value="{{ validator.value('phone') }}" data-error="{{ validator.error('phone') }}">
</div>