.app-navbar {
  background-color: black;
  height: $navbar-height;

  .navbar-links {
    .nav-item {
      padding: 0 10px;

      .nav-link {
        padding: 0;
        line-height: 1;
        color: #fff;
        text-transform: uppercase;

        &:hover {
          color: #1E90FF;
          //background-color: #fff;
        }
      }

      &:not(.no-border) {
        border-right: 1px solid black;
      }
    }
  }
}

.app-muted-navbar {
  background-color: $main-muted-color;
  text-transform: uppercase;
  padding: 0;
  .nav-link {
    padding: 0;
    line-height: $nav-link-line-height;
  }
}

.app-flashes {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  display: none;
  margin: 0;
  padding: 20px 20px;
  z-index: 999999999;
}



@media screen and (max-width: 1280px){
  div#navbar-nav.navbar-collapse, div#navbar-login.navbar-collapse {
    z-index: 42;
    background: white;
  }

  nav.navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
    color: #fff;
    margin-bottom: 10px;
    float: right;

  }
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    right: 0 !important;
    .nav-link {
      text-align: center;
      padding: 10px !important;
      margin: 0 !important;
    }
  }
}
