// Bootstrap
$blue: #273a60;

// Custom
$main-color: #000;
$main-active-color: #1E90FF;
$main-active-hover-color: #1E90FF;
$main-inactive-color: #fff;
$main-muted-color: #eee;
$rating-color: #f35321;


//New MIKE
$border-color: #939caf;
$button-border-color: rgba(39, 58, 96, .5);
$dark: #333;
$dark-text-color: #595959;

$light-color: #e2e3e7;
$light-color-second: #e6e6e6;
$facebook-color: #355390;
$secondary-color: rgba(243, 83, 33, .7);
$secondary-background-color: #f25322;
$secondary-text-color: #f78b6a;


$progress-bar-border-color: #cecfd6;
//FONTS


//MIKE FONTS SIZE
$h1-size: 25px;
$h1-mobile-size: 32px;
$h1-big-size: 32px;
$h1-mobile-big-size: 72px;
$h2-size: 28px;
$h3-size: 18px;
$h3-mobile-size: 24px;
$title-size: 18px;
$nav-link-size: 16px;
$input-font-size: 18px;
$subtitle-size: 15px;
$code-input-width: 150px;
$info-title-size: 22px;
$counter-font-size: 34px;
$counter-mobile-font-size: 42px;




//MIKE HEIGHTS
$input-height: 52px;
$navbar-height: 87px;
$nav-link-line-height: 44px;

