<h1 class="text-center mt-5">COOKIES</h1>
<div class="mt-5 mb-3 media-body">
<p>Un cookie est un fichier texte d&eacute;pos&eacute; et/ou lu par le navigateur d&rsquo;un internaute sur le disque dur de son terminal (par ex. ordinateur, Smartphone), auquel est associ&eacute; un nom de domaine. Les cookies servent &agrave; stocker des informations et certains sont indispensables au bon fonctionnement d&rsquo;un site Web et des solutions logicielles contenues dans les pages qui le composent.</p>

<p>Ce site utilise des cookies qui ont pour finalit&eacute; de mesurer l&rsquo;audience du site, de permettre le partage de pages du site, de vous adresser des contenus ou annonces les plus adapt&eacute;s &agrave; vos centres d&rsquo;int&eacute;r&ecirc;t ou encore de faciliter la navigation sur le site.</p>

<p><strong>TYPES DE COOKIES UTILIS&Eacute;S</strong></p>

<p><strong>Les cookies de mesure d&rsquo;audience</strong></p>

<p>Nous utilisons des solutions de mesures d&rsquo;audience dans le but d&rsquo;effectuer un suivi de la provenance, du volume et du comportement de l&rsquo;ensemble des visiteurs du Site afin d&rsquo;am&eacute;liorer votre exp&eacute;rience utilisateur.&nbsp;<br />
    Ces cookies permettent de conna&icirc;tre l&rsquo;utilisation et les performances du site et d&rsquo;en am&eacute;liorer le fonctionnement en proc&eacute;dant &agrave; des analyses de fr&eacute;quentation des pages d&rsquo;information, en effectuant un suivi des taux d&rsquo;ouverture, des taux de clics et des taux de rebond au niveau individuel.</p>

<p><strong>Les cookies de boutons de partage</strong></p>

<p>Ces cookies sociaux permettent aux utilisateurs de partager des pages et du contenu sur les r&eacute;seaux sociaux tiers via les boutons sociaux de partage.</p>

<p><strong>Les cookies pour faciliter votre navigation</strong></p>

<p>Ces cookies sont d&eacute;pos&eacute;s lorsque vous utilisez la fonction &laquo;&nbsp;se souvenir de moi&nbsp;&raquo;, et permettent de faciliter votre navigation.</p>

<p><strong>Les cookies publicitaires</strong></p>

<p>Les cookies publicitaires ou de ciblage enregistrent votre visite sur notre site. Nous utiliserons ces informations pour afficher des contenus ou des annonces publicitaires pertinentes en fonction de vos centres d&rsquo;int&eacute;r&ecirc;ts. Ils sont &eacute;galement utilis&eacute;s pour limiter le nombre d&rsquo;affichages d&rsquo;une m&ecirc;me publicit&eacute; et pour aider &agrave; mesurer l&rsquo;efficacit&eacute; des campagnes publicitaires.</p>

<p><strong>GESTION DES COOKIES</strong></p>

<p>Que faire si vous ne souhaitez pas activer les cookies ?</p>

<p>Vous pouvez r&eacute;voquer votre consentement &agrave; l&rsquo;utilisation des cookies &agrave; tout moment, de la fa&ccedil;on suivante :</p>

<p>Selon le navigateur utilis&eacute; par les Utilisateurs, les modalit&eacute;s de suppression des cookies sont les suivantes :</p>

<p><strong>Sur Internet Explorer</strong></p>

<p>&bull; Cliquer sur le bouton Outils, puis sur Options Internet.</p>

<p>&bull; Sous l&rsquo;onglet G&eacute;n&eacute;ral, sous Historique de navigation, cliquer sur Param&egrave;tres.</p>

<p>&bull; Cliquer sur le bouton Afficher les fichiers.</p>

<p>&bull; S&eacute;lectionner les cookies &agrave; refuser et cliquer sur supprimer.</p>

<p><strong>Sur Firefox</strong></p>

<p>&bull; Cliquer sur l&rsquo;ic&ocirc;ne Outils du navigateur, s&eacute;lectionner le menu Options</p>

<p>&bull; Dans la fen&ecirc;tre qui s&rsquo;affiche, choisir &laquo; Vie priv&eacute;e &raquo; et cliquer sur &laquo; Affichez les cookies &raquo;</p>

<p>&bull; S&eacute;lectionner les cookies &agrave; refuser et cliquer sur supprimer.</p>

<p><strong>Sur Safari</strong></p>

<p>&bull; Cliquer sur l&rsquo;ic&ocirc;ne &Eacute;dition, s&eacute;lectionner le menu Pr&eacute;f&eacute;rences.</p>

<p>&bull; Cliquer sur S&eacute;curit&eacute; puis sur Afficher les cookies.</p>

<p>&bull; S&eacute;lectionner les cookies &agrave; refuser et cliquer sur supprimer.</p>

<p>&bull; Cliquer sur l&rsquo;ic&ocirc;ne Outils, s&eacute;lectionner le menu Options puis cliquer l&rsquo;onglet Options.</p>

<p>&bull; Cliquer sur Avanc&eacute;es et acc&eacute;der &agrave; la section &laquo; Confidentialit&eacute; &raquo;.</p>

<p>&bull; Cliquer sur le bouton &laquo; Afficher les cookies &raquo;.</p>

<p>&bull; S&eacute;lectionner les cookies &agrave; refuser puis cliquer sur supprimer.</p>

<p><strong>En d&eacute;sactivant les cookies en ligne</strong></p>

<p>Vous pouvez d&eacute;sactiver les Cookies Google &agrave; l&rsquo;adresse suivante :&nbsp;<br />
    <a href="https://tools.google.com/dlpage/gaoptout?hl=fr">https://tools.google.com/dlpage/gaoptout?hl=fr</a></p>

<p>Vous pouvez d&eacute;sactiver les Cookies Facebook &agrave; l&rsquo;adresse suivante :&nbsp;<br />
    <a href="https://www.facebook.com/policies/cookies/">https://www.facebook.com/policies/cookies/</a></p>

<p><strong>DUR&Eacute;E DE VIE DES COOKIES</strong></p>

<p>Les cookies sont d&eacute;pos&eacute;s sur le terminal de l&rsquo;Utilisateur pour une dur&eacute;e maximum de 13 mois &agrave; compter de la manifestation du consentement de l&rsquo;Utilisateur. Pass&eacute; ce d&eacute;lai, le consentement sera &agrave; nouveau recueilli.</p>
</div>
