<h1 class="text-center mt-5">PROTECTION DES DONNÉES PERSONNELLES</h1>
<div class="mt-5 mb-3 media-body">
<p>1. G&Eacute;N&Eacute;RALIT&Eacute;S :</p>

<p>ITCommunity, géré par deux étudiant, PARIS et BARANYUK, 11 rue de la brosse 77580 COUTEVROULT, en sa qualit&eacute; de responsable du traitement, attache une grande importance &agrave; la protection et au respect de votre vie priv&eacute;e. Voici nos pratiques concernant la collecte, l&rsquo;utilisation et le partage des informations que vous &ecirc;tes amen&eacute;s &agrave; nous communiquer par le biais de notre programme accessible depuis le site internet&nbsp;itcommunity.fr</p>

<p>2. LES INFORMATIONS RECUEILLIES</p>

<p>Nous sommes susceptibles de recueillir et de traiter les donn&eacute;es suivantes&nbsp;:</p>

<p>2.1 Si vous &ecirc;tes un visiteur du site :</p>

<p>En prenant contact avec un Utilisateur, vous &ecirc;tes amen&eacute; &agrave; nous transmettre des informations, dont des &laquo;&nbsp;Donn&eacute;es Personnelles&nbsp;&raquo;, notamment&nbsp;:</p>

<p>2.1.1 Votre nom, pr&eacute;nom, E-mail, lorsque vous souhaitez prendre contact avec un Utilisateur,</p>

<p>2.1.2 Le cas &eacute;ch&eacute;ant, les avis que vous avez laiss&eacute;s ou les questions publiques que vous avez pos&eacute;es &agrave; votre Utilisateur,</p>

<p>2.1.3 Le cas &eacute;chant l&rsquo;information selon laquelle vous avez re&ccedil;u une invitation de la part d&rsquo;un Utilisateur,</p>

<p>2.1.4 Les donn&eacute;es que nous pouvons vous demander de fournir lorsque vous nous signalez un probl&egrave;me relatif &agrave; nos Plateformes ou &agrave; nos services.</p>

<p>2.1.5.&nbsp;Les donn&eacute;es li&eacute;es &agrave; votre localisation lorsque vous cliquez sur localisez-moi</p>

<p>2.1.6. Si vous &ecirc;tes devenu Utilisateur.</p>

<p>2.2 Si vous &ecirc;tes un Utilisateur&nbsp;(les donn&eacute;es n&eacute;cessaires &agrave; la cr&eacute;ation de votre compte et de votre fiche profil)</p>

<p>En vous inscrivant &agrave; notre programme, vous &ecirc;tes amen&eacute; &agrave; nous transmettre des informations, dont des &laquo;&nbsp;Donn&eacute;es Personnelles&nbsp;&raquo; notamment lorsque vous remplissez le formulaire d&rsquo;inscription.</p>

<p>2.2.1.&nbsp;Les donn&eacute;es n&eacute;cessaires &agrave; l&rsquo;inscription au programme. Ces donn&eacute;es sont notamment vos nom, pr&eacute;nom, adresse, code postal, ville, adresse e-mail, num&eacute;ro de t&eacute;l&eacute;phone portable et mot de passe. Ces informations sont obligatoires. A d&eacute;faut, vous ne pouvez pas cr&eacute;er un compte sur notre programme.</p>

<p>Les donn&eacute;es n&eacute;cessaires &agrave; l&rsquo;&eacute;laboration de votre fiche profil. Ces donn&eacute;es sont notamment&nbsp;:</p>

<ul>
    <li>les informations sur la possession de différent produits, votre avis sur vos produits</li>
    <li>les photos que vous avez post&eacute;es concernant vos produits ou leur environnement et une photo de profil</li>
    <li>les donn&eacute;es de localisation</li>
</ul>

<p>&nbsp;</p>

<p>2.3 Si vous &ecirc;tes un Utilisateur&nbsp;(les donn&eacute;es n&eacute;cessaires au fonctionnement du programme)</p>

<p>Les donn&eacute;es n&eacute;cessaires au bon fonctionnement du programme sont les suivantes&nbsp;:</p>

<p>2.3.1&nbsp;Les &eacute;valuations que vous avez re&ccedil;ues</p>

<p>2.3.2 Les questions et r&eacute;ponses envoy&eacute;es</p>

<p>2.3.3 La liste de vos contacts</p>

<p>2.3.4.&nbsp;La comptabilit&eacute; des points acquis</p>

<p>2.3.5.&nbsp;Le cas &eacute;ch&eacute;ant, vos r&eacute;ponses &agrave; nos sondages et questionnaires</p>

<p>2.4 Donn&eacute;es recueillies automatiquement</p>

<p>2.4.1 Afin d&rsquo;&eacute;valuer les performances du site et d&rsquo;am&eacute;liorer votre navigation, nous utilisons Google Analytics, qui nous permettent d&rsquo;obtenir des donn&eacute;es sur la fr&eacute;quentation du site et des outils d&rsquo;am&eacute;lioration de la navigation. Si vous souhaitez davantage d&rsquo;informations &agrave; ce sujet, nous vous invitons &agrave; prendre connaissance des documents contractuels de ces plateformes. Pour utiliser ces technologies, nous avons recours aux cookies (pour en savoir plus &agrave; ce sujet, veuillez-vous r&eacute;f&eacute;rer &agrave; notre&nbsp;Charte sur les Cookies).</p>

<p>2.4.2 Nous recueillons &eacute;galement des informations sur votre utilisation de notre programme telles que le nombre d&rsquo;&eacute;v&egrave;nement publi&eacute;es, votre taux de r&eacute;ponse aux messages, votre date d&rsquo;inscription, votre moyenne d&rsquo;avis re&ccedil;us, etc. qui sont susceptibles d&rsquo;&ecirc;tre affich&eacute;es sur votre profil public.</p>

<p>3. QUELLES SONT LA FINALIT&Eacute; DES DONN&Eacute;ES RECUEILLIES ?</p>

<p>Nous utilisons les donn&eacute;es que nous recueillons afin de :</p>

<p>3.1 Ex&eacute;cuter le contrat conclu entre vous et nous&nbsp;<br />
    -&gt; Fondement l&eacute;gal : ce traitement est n&eacute;cessaire &agrave; l&rsquo;ex&eacute;cution de nos obligations contractuelles respectives.</p>

<p>3.2 Vous envoyer des renseignements sur nos services par e-mail, ou tout autre moyen de communication ; -&gt; Fondement l&eacute;gal : ce traitement est n&eacute;cessaire &agrave; l&rsquo;ex&eacute;cution de nos obligations contractuelles respectives et/ou r&eacute;alis&eacute; avec votre consentement.&nbsp;</p>

<p>3.3 Vous permettre de personnaliser votre profil sur notre plateforme ;&nbsp;<br />
    -&gt; Fondement l&eacute;gal : ce traitement est r&eacute;alis&eacute; sur la base de votre consentement.</p>

<p>3.4 Vous permettre de communiquer avec d&rsquo;autres membres.&nbsp;<br />
    -&gt; Fondement l&eacute;gal : ce traitement est n&eacute;cessaire &agrave; l&rsquo;ex&eacute;cution de nos obligations contractuelles respectives, r&eacute;alis&eacute; avec votre consentement.</p>

<p>3.5 Vous envoyer, conform&eacute;ment aux dispositions l&eacute;gales applicables et avec votre accord lorsque la l&eacute;gislation l&rsquo;exige, des messages marketing, publicitaires et promotionnels et des informations relatives &agrave; l&rsquo;utilisation de nos services. Nous sommes &eacute;galement susceptibles d&rsquo;utiliser vos donn&eacute;es pour vous adresser des messages publicitaires susceptibles de vous int&eacute;resser sur les plateformes de r&eacute;seaux sociaux ou sites de tiers.&nbsp;<br />
    -&gt; Fondement l&eacute;gal : ce traitement est fond&eacute; sur votre consentement et/ou notre int&eacute;r&ecirc;t l&eacute;gitime visant &agrave; vous fournir des informations pertinentes.</p>

<p>3.6 Vous informer des modifications apport&eacute;es &agrave; nos services.&nbsp;<br />
    -&gt; Fondement l&eacute;gal : ce traitement est n&eacute;cessaire &agrave; l&rsquo;ex&eacute;cution de nos obligations contractuelles respectives, au respect de nos obligations l&eacute;gales et/ou &agrave; la constatation, l&rsquo;exercice ou la d&eacute;fense d&rsquo;un droit en justice.</p>

<p>3.7 G&eacute;rer notre programme et effectuer des op&eacute;rations techniques dans le cadre de r&eacute;solution de probl&egrave;mes, analyse de donn&eacute;es, de tests, recherches, analyses, &eacute;tudes et sondages ;&nbsp;<br />
    -&gt; Fondement l&eacute;gal : Ce traitement est fond&eacute; sur notre int&eacute;r&ecirc;t l&eacute;gitime : assurer la s&eacute;curit&eacute; de notre programme et am&eacute;liorer ses caract&eacute;ristiques.</p>

<p>4. QUI SONT LES DESTINATAIRES DES INFORMATIONS&nbsp;?</p>

<p>4.1.&nbsp;Dans le cadre de l&rsquo;utilisation de notre programme, certaines de vos informations sont transmises ;</p>

<ul>
    <li>aux sous-traitants auxquels nous recourons en mati&egrave;re de prestations techniques, services de paiement ou encore les fournisseurs de solutions analytiques.</li>
</ul>

<p>&nbsp;</p>

<p>4.1. Nous publions les avis que vous r&eacute;digez. Ces avis, qui contiennent votre pr&eacute;nom et la premi&egrave;re lettre de votre nom ainsi que votre photographie peuvent &ecirc;tre visibles sur tous nos sites.</p>

<p>4.2&nbsp;Lorsque nous avons l&rsquo;obligation l&eacute;gale de le faire ou si nous pensons de bonne foi que cela est n&eacute;cessaire pour r&eacute;pondre &agrave; toute r&eacute;clamation &agrave; notre encontre, nous conformer &agrave; toute demande judiciaire, faire ex&eacute;cuter tout contrat conclu avec vous, tel que les Conditions G&eacute;n&eacute;rales d&rsquo;Utilisation et la pr&eacute;sente Politique de Confidentialit&eacute; et/ou afin de garantir les droits, les biens et la s&eacute;curit&eacute;.</p>

<p>5. LIENS VERS D&rsquo;AUTRES SITES INTERNET ET R&Eacute;SEAUX SOCIAUX</p>

<p>Notre programme peut contenir des liens vers les sites internet de nos partenaires ou de soci&eacute;t&eacute;s tierces. Veuillez noter que ces sites internet ont leur propre politique de confidentialit&eacute; et que nous d&eacute;clinons toute responsabilit&eacute; quant &agrave; l&rsquo;utilisation faite par ces sites des informations collect&eacute;es lorsque vous cliquez sur ces liens. Nous vous invitons &agrave; prendre connaissance de politiques de confidentialit&eacute; de ces sites avant de leur transmettre vos Donn&eacute;es Personnelles.</p>

<p>6. COMMENT UTILISONS-NOUS ET MOD&Eacute;RONS-NOUS VOS MESSAGES ?</p>

<p>6.1.&nbsp;Nous pouvons prendre connaissance des messages que vous &eacute;changez avec d&rsquo;autres membres via notre programme notamment &agrave; des fins de pr&eacute;vention des fraudes, d&rsquo;am&eacute;lioration de nos services, d&rsquo;assistance utilisateur, de v&eacute;rification du respect des contrats conclus entre nous et notamment le respect de nos Conditions G&eacute;n&eacute;rales d&rsquo;Utilisation.</p>

<p>6.2.&nbsp;Lorsque cela est possible, nous avons recours &agrave; des syst&egrave;mes automatis&eacute;s pour mod&eacute;rer des messages &eacute;chang&eacute;s entre les utilisateurs, sans qu&rsquo;aucune d&eacute;cision &agrave; port&eacute;e individuelle ne soit prise.</p>

<p>7. PUBLICIT&Eacute; CIBL&Eacute;E, E-MAILS QUE NOUS VOUS ENVOYONS</p>

<p>Conform&eacute;ment &agrave; la l&eacute;gislation applicable et avec votre consentement lorsqu&rsquo;il est requis, nous pouvons utiliser les donn&eacute;es que vous nous fournissez &agrave; des fins de prospection commerciale et vous adresser nos newsletters, vous envoyer des invitations ou toute autre communication susceptible de vous int&eacute;resser. Nous pouvons &eacute;galement afficher des publicit&eacute;s cibl&eacute;es sur les plateformes de m&eacute;dias sociaux ou sites tiers.</p>

<p>Concernant les emails promotionnels&nbsp;: Vous pouvez &agrave; tout moment retirer votre consentement en d&eacute;cochant la case pr&eacute;vue &agrave; cet effet dans votre compte.</p>

<p>8. CONSERVATION ET TRANSFERT DE VOS DONN&Eacute;ES</p>

<p>Nous conservons vos Donn&eacute;es Personnelles au sein de l&rsquo;Union Europ&eacute;enne et nous nous assurons que ce transfert soit effectu&eacute; en conformit&eacute; avec la r&eacute;glementation applicable et garantisse un niveau de protection suffisant de la vie priv&eacute;e.</p>

<p>9. DUR&Eacute;E DE CONSERVATION DE VOS DONN&Eacute;ES</p>

<p>Pour les finalit&eacute;s pr&eacute;vues dans la pr&eacute;sente charte&nbsp;:</p>

<ul>
    <li>Vos donn&eacute;es sont conserv&eacute;es 3 ans apr&egrave;s votre derni&egrave;re utilisation de notre programme, si vous n&rsquo;avez pas ferm&eacute; votre compte.</li>
    <li>Si vous avez ferm&eacute; votre compte, vos donn&eacute;es sont conserv&eacute;es 1 an</li>
    <li>Les contenus cr&eacute;&eacute;s par vous, tels que les commentaires, avis et notation, questions r&eacute;ponses sont rendus anonymes pass&eacute;s les d&eacute;lais mentionn&eacute;s mais demeurent visibles sur nos Plateformes.</li>
    <li>Dans l&rsquo;hypoth&egrave;se o&ugrave; votre compte a &eacute;t&eacute; suspendu ou bloqu&eacute;, nous conservons vos donn&eacute;es pour une dur&eacute;e de 1 an &agrave; compter de la suspension afin d&rsquo;&eacute;viter tout contournement de votre part des r&egrave;gles en vigueur sur notre programme</li>
</ul>

<p>10. VOS DROITS</p>

<p>10.1.&nbsp;Droit d&rsquo;acc&egrave;s&nbsp;: Vous disposez du droit de recevoir une copie de vos Donn&eacute;es Personnelles en notre possession.</p>

<p>10.2.&nbsp;Droit d&rsquo;effacement et droit de rectification. Vous pouvez demander l&rsquo;effacement de vos Donn&eacute;es Personnelles ainsi que la rectification des Donn&eacute;es Personnelles erron&eacute;es ou obsol&egrave;tes. Nous pouvons l&eacute;gitimement conserver certaines informations si nous estimons que vous avez commis une fraude ou viol&eacute; nos Conditions G&eacute;n&eacute;rales d&rsquo;Utilisation dans le seul but d&rsquo;&eacute;viter que cela ne se reproduise. Nous pouvons aussi conserver certaines informations si la loi nous l&rsquo;impose.</p>

<p>10.3. Droit d&rsquo;opposition. Vous disposez du droit de vous opposer &agrave; tout moment au traitement de vos Donn&eacute;es Personnes &agrave; des fins de marketing direct</p>

<p>10.4.&nbsp;Droit &agrave; la portabilit&eacute;. Vous disposez du droit &agrave; la portabilit&eacute; de vos donn&eacute;es, c&rsquo;est-&agrave;-dire au droit de recevoir les Donn&eacute;es Personnelles que vous nous avez transmises et le droit de transmettre ces donn&eacute;es &agrave; un autre responsable du traitement.</p>

<p>10.5. Droit d&rsquo;oubli Vous disposez du droit de demander la suppression de vos donn&eacute;es personnelles si elles ne sont pas n&eacute;cessaires &agrave; la fourniture du service et du droit de d&eacute;finir des directives relatives au sort de vos Donn&eacute;es Personnelles apr&egrave;s votre mort.</p>

<p>10.6 Droit &agrave; la limitation du traitement. Vous avez le droit &agrave; la limitation du traitement de vos donn&eacute;es lorsque vous estimez que les donn&eacute;es vous concernant ne sont pas exactes ou lorsque vous en avez besoin pour la constatation, l&rsquo;exercice ou la d&eacute;fense d&rsquo;un droit.</p>

<p>10.7 Droit au retrait du consentement Vous avez le droit de retirer votre consentement &agrave; tout moment. Le retrait du consentement ne compromet pas la lic&eacute;it&eacute; du traitement fond&eacute; sur le consentement effectu&eacute; avant ce retrait.</p>

<p>Pour exercer ces droits&nbsp;:</p>

<ul>
    <li>adressez un email &agrave; notre d&eacute;l&eacute;gu&eacute; &agrave; la protection des donn&eacute;es &agrave; l&rsquo;adresse&nbsp;via le formulaire de contact en haut &agrave; droite du site</li>
    <li>ou un courrier &agrave; l&rsquo;adresse suivante&nbsp;: PARIS Matthieu, 11 rue de la brosse 77580 Coutevroult, France</li>
    <li>si vous estimez que le traitement de vos donn&eacute;es a &eacute;t&eacute;́ effectu&eacute; en violation de la r&eacute;glementation applicable, vous avez le droit d&rsquo;introduire une r&eacute;clamation aupr&egrave;s de la Commission Nationale Informatique et Libert&eacute;s.</li>
</ul>

<p>&nbsp;</p>

<p>11. MODIFICATION DE NOTRE POLITIQUE DE CONFIDENTIALIT&Eacute;</p>

<p>Nous pouvons &ecirc;tre amen&eacute; &agrave; modifier la pr&eacute;sente politique de confidentialit&eacute;. Lorsque cela est n&eacute;cessaire, nous vous en informerons et/ou solliciterons votre accord. Consultez r&eacute;guli&egrave;rement cette page pour prendre connaissance des &eacute;ventuelles modifications ou mises &agrave; jour apport&eacute;es &agrave; notre politique de confidentialit&eacute;.</p>

<p>Version mise &agrave; jour&nbsp;le 22 avril&nbsp;2020</p>
</div>
