<div class="checkbox mt-3">
    <label for="informations_enabled" data-error="{{ validator.error('informations_enabled') }}" class="d-flex">
        <input type="checkbox" name="informations_enabled" id="informations_enabled" data-checked="{{ validator.checked('informations_enabled') }}">
        <div class="pl-1 fl-1">
            {{ 'page.ambassador._forms.informations_enabled.label'|trans }}
        </div>
    </label>
</div>