<div class="form-group">
    <label for="username">{{ 'page.ambassador._forms.username.label'|trans }}</label>
    <input type="text" class="form-control" name="username" id="username" value="{{ validator.value('username') }}" data-error="{{ validator.error('username') }}">
</div>